.header {
  height: 80vh;
  background-image: linear-gradient(
  to bottom,
  rgba(0, 0, 0, .5),
  rgba(0, 0, 0, .4)),
  url(../images/man-on-water.jpg);
  background-size: cover;
  background-position: top;
  @include sm {
    height: 90vh;
  }

  @include md {
    height: 105vh;
  }

}

.headerContent{
    display: block;
    font-size: 1.4rem;
    margin: 1rem;
    width: 33rem;
    margin: 10% auto;
    text-align: center;
    @include center-text-flex;

  @include sm {
    font-size: 1.5rem;
    width: 45rem;
  }

  @include md {
    font-size: 1.5rem;
    width: 55rem;
  }

  @include lg {
    text-align: left;
    float: left;
    font-size: 1.5rem;
    width: 43rem;
    margin: 20% 0 0 10rem;
  }

  &--head {
    color: $color-white-light;
    margin: 0 auto;

  }
    &--paragraph {
      color: white;
      padding-top: 1rem;
      padding-bottom: 1rem;
  } &--paragraph:last-child {
    padding-bottom: 0;
  }
}
