.header {
  height: 80vh;
  background-image: linear-gradient(
  to bottom,
  rgba(0, 0, 0, .5),
  rgba(0, 0, 0, .4)),
  url(../images/man-on-water.jpg);
  background-size: cover;
  background-position: top;
  @include sm {
    height: 90vh;
  }

  @include md {
    height: 105vh;
  }

}

.headerContent {
  margin: 0 auto 2rem auto;
  color: $color-white-light;
  font-size: 1.4rem;
  text-align: center;
  width: 33rem;

  @include textbox-adjust;

  @include lg {

  }

  &__head {
    padding-bottom: 2rem;
  }

  &__p {
    padding-bottom: 1.5rem;
  }
}