.info {
  font-size: 1.4rem;
  text-align: center;

  &__header {
    padding: 5rem 0 3rem 0;
    text-align: center;

    @include lg {
      margin-left: 1rem;
      text-align: left;
      
    }
  }

  &__text-section {
    width: 100%;
    font-weight: 500;
    letter-spacing: .5px;
    display: inline-flex;
    flex-flow: wrap;
    align-content: flex-start;
    
    
  }

  &__p {
    margin: 0 auto 2rem auto;
    width: 33rem;

   @include textbox-adjust;

    @include lg {
      margin: 0;
      padding: 1rem;
      width: 40rem;
      text-align: left;
      
    }
  }
}